
.footerWrapper {
  margin-top: auto;
}

.top {
  text-transform: uppercase;
  padding: 1rem;
  background: #1d8bf2;
  border: none;
  color: white;
  /* margin-top: 2rem; */
  width: 100%;
}

.top:hover {
  background-color: #0b76da;
}

.footer {
  padding: 2rem 0;
}

.icons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  font-size: 1.5rem;
  gap: 1rem;
  cursor: pointer;
}

.iconsLight {
  color: #2E3135;
}

.iconsDark{
  color: rgb(230, 230, 230);
}

.dhLogo{
  max-width: 50%;
}

.dhLogoDark {
  filter: brightness(0) invert(1);
}

.dhLogoLight {
  color: #2E3135;
}

